*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* Top Bar Start from Here */
#heading {
    height: 45px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
#heading .text {
    font-size: 16px; 
}
#heading .text small {
    margin: 25px;
}

#heading .icon {
    margin-left: 600px;
}
#heading .icon i{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 15px;
    background-color: transparent;
    color: white; 
 }

/* Top Bar Ends Here */
/* Header Starts from Here */
#navhead{
    display: flex;
    position: absolute;
}
#navhead .logo {
    color:  #06A3DA;
    font-size: 25px;
    margin: 15px 40% 5px 50px;
    letter-spacing: 5px;
}
#navhead .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#navhead .navbar a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    /* position: relative; */
}
a.active, a:hover  {
    transition: 0.3s linear;
    border-top: 2px solid green;
    font-size: large;
}
/* #navhead .navbar a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-top: 2px solid aqua;
    transition: 0.4s linear;
}
#navhead .navbar a:hover:before {
    width: 100%;
} */

#navhead .register {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navhead .register a{
    text-decoration: none;
    margin-left: 100px;
    font-size: 30px;
    height: 40px;
    width: 125px;
    border-radius: 20px;
    padding-left: 10px; 
    /* padding-top: 5px; */
    background-color: transparent;
    border: 1px solid #06A3DA;
    color: #06A3DA; 

    /* transition: 0.4s; */
}

/* #navhead .register a:hover {
    background-color: transparent;
    border: 1px solid #06A3DA;
    color: #06A3DA; */

/* Header Ends here  */
/* Main Section Start */
/* Home Page Start ============================================= */


#home{
    max-width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url('img/carousel-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .homepagelayout {
    font-size: 50px;
    color: white;
}
#home .homepagelayout p {
    font-size: 20px;
    
}

#home .homepagelayout a {
text-decoration: none;
color: white;
background-color: transparent;
box-shadow: 2px 3px 5px #06A3DA;
padding: 10px 20px;
letter-spacing: 5px;
font-size: 15px;
border-radius: 10px;
position: relative;
z-index: 1;
transition: 0.4s linear;

}
#home .homepagelayout a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
background-color: black;
    transition: 0.4s linear;
    border-radius: 10px;
}

#home .homepagelayout a:hover:before {
width: 100%;
z-index: -1;
}

.update_value {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
position: absolute;
top: 700px;
gap: 20px;
margin-left: 4%;

}
.update_value .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width:450px;
    font-size: 20px;
    background-color: #06A3DA;
    color: white;
    letter-spacing: 2px;
}
.update_value .box p span{
    font-size: 30px;
    font-weight: 900;
}
/* about */
/* about us Start */
#about {
    max-width: 100%;
    margin: auto;
    height: 70vh;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about .about-left h3 {
    color: #06A3DA;
    font-size: 25px;
    letter-spacing: 3px;
}

#about .about-left {
    margin: 100px 0px 100px 100px;
}

#about .about-right {
    margin: 100px;
}
#about .about-left h1 {
    font-size: 3em;
}

#about .about-left a {
    text-decoration: none;
    background-color:  #06A3DA;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 10px;
    position: relative;
}

#about .about-left a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    z-index: -1;
    border: 3px solid #06A3DA;
}

#about .about-left h1 span {
    color: #06A3DA;
}
/* About us Ends */
/* Team members start */
#members{ 
    width: 100%; 
    height: 100vh; 
 } 
 #members .teamText{ 
    display: block; 
    justify-content: center; 
    text-align: center; 
    font-size: 30px; 
    font-weight: 600;
 } 
 #members .teambox{ 
  display: flex; 
  justify-content: space-evenly; 
  gap: 1px; 
 } 
 #members .teambox .box{ 
    width: 450px; 
    height: 500px; 
    background-color: #1b6671;
    border: 1px solid #1b6671; 
    text-align: center;
 } 
 #members .teambox .box .boxcontent{
padding: 5%;
font-size: 15px;
letter-spacing: 3px;
color: palegreen;
} 

/* About Section Ends Here */
/* Services section */
/* Our Services Start from here  */
#ourservice{ 
    width: 100%; 
    height: 80vh; 
    margin-top: 100px;
 } 
#ourservice .myheading{ 
    text-align: center; 
    font-size: 25px;
 } 
 #box{  
    display: grid; 
    grid-template-columns: auto auto auto; 
    justify-content: center; 
    gap: 50px; 
  
 } 
 #box .content{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px; 
    height: 250px; 
    border: 1px solid #1b6671; 
    background-color: #EEF9FF;
 } 
 #box .content p {
    margin: 10px;
 }
 #box .content p span {
    font-size: 30px;
    font-weight:600;
 }
 #box .content p i {
border: 2px solid #06A3DA;
padding: 20px;
color: white;
background-color: #06A3DA;
 }
 /* Our Services Ends Here  */

 /* features start from here  */
 #main{ 
    margin-top: 200px;
    width: 100%; 
    height: 100vh; 
 } 
#main #mainhead{ 
    text-align: center; 
    font-size: 25px;
 } 
 #mainbox{  
    display: grid; 
    /* grid-template-columns: auto auto;  */
    display: flex;
    justify-content: center; 
 } 

 #mainbox .maincontent{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0 100px;
 }
 #mainbox .maincontent p span {
    font-size: 25px;
    font-weight:550;
 }
 #mainbox .maincontent p i {
border: 2px solid #06A3DA;
padding: 20px;
color: white;
background-color: #06A3DA;

    /* right: 500px; */
    /* top: 50px; */
}

/* latest blog section start from here  */
#blog{ 
    width: 100%; 
    height: 100vh; 
    margin-top: 0px;
 } 
 #blog .teamhead{ 
    display: block; 
    justify-content: center; 
    text-align: center; 
    font-size: 25px; 
    font-weight: 600;
 } 
 #blog .teambox{ 
  display: flex; 
  justify-content: space-evenly; 
  margin-top: 50px;
  /* gap: 50px;  */
 } 
 #blog .teambox .box{ 
    width: 400px; 
    height: 450px; 
    background-color: #EEF9FF;
    border: 1px solid #1b6671; 
    text-align: center;
 } 
 #blog .teambox .box .boxcontent{
padding: 2%;
/* margin: 5%; */
font-size: 15px;
/* border-bottom: 1px solid #1b6671;
border-top: 1px solid #1b6671; */
letter-spacing: 2px;
color: #0c2c20;
} 
#blog .teambox .box .boxcontent a{
    text-decoration: none;
    color: #1b6671;
    font-weight: 550;
}
/* latest blog ends here  */
/* Footer Part */

footer {
    margin-top: 150px;
}
.foot-panel0 {
    border-bottom: 2px solid #06A3DA;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #1b6671;
}
.foot-panel0 a i{
    color: white;
}
.foot-panel {
    background-color: #0c2c20;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:  #06A3DA;
    font-size: 25px;
    letter-spacing: 3px;
}
.foot-panel ul a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel1 {
    border-top: 2px solid #06A3DA;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b6671;
    color: white;
    height: 80px;
}
.copyright {
    padding-top: 5px;
    font-size: 13px;
    letter-spacing: 3px;
}

form {
    background-color: transparent;
    border-radius: 60px;
    width: 600px;
    height: 55px;
    display: flex;
    border: 2px solid tomato;
    margin-bottom: 100px;
    margin-left: 60px;
    font-size:medium;
    color: white;
    box-shadow: 2px 3px 5px #1b6671;
}
form input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color:white;
    font-size: 17px;
    letter-spacing: 1px;
}
form button {
    background-color: tomato;
    padding: 10px 50px;
    border-radius: 60px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
form .fa-magnifying-glass {
    align-self: center;
    padding: 10px 20px;
    color: tomato;
}